@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* =======================Main Header Area==============================*/

.main-header-area {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 30;
}


/*========================== Pink Header ==============================  */


.top-header {
    background: #f195b2;
    position: relative;
    z-index: 3;
}

.float-left {
    display: flex;
    gap: 30px;
}

.float-right {
    display: flex;
    gap: 15px;
}

.pink-header-icon-1 {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
}

.pink-header-icon-2 {
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
}

.pink-header-icon-2 i {
    font-size: 18px;
}

.pink-header-icon-3 a {
    display: inline-block;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
}

.pink-header-icon-4 a {
    display: inline-block;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
}

.pink-header-icon-3 a i {
    transition: 0.3s;
}

@media screen and (max-width: 767px) {
    .pink-header-media {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .pink-header-icon-1,
    .pink-header-icon-2,
    .pink-header-icon-3 a,
    .pink-header-icon-4 a {
        line-height: 40px;
    }
}


@media screen and (max-width: 546px) {
    .float-left {
        flex-direction: column;
        gap: 0;
    }
}



/* ========================== Nav Header =================================== */

.navbar {
    padding: 0 !important;
}

.top-header-2 {
    position: relative;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
    ;
    opacity: 1;
    transform: translateY(0);
    background-color: white;
}

.top-header-2::before {
    content: "";
    background: url(./Images/menu-draw.png) no-repeat scroll center center;
    height: 19px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -13px;
    z-index: 30;
}

.navbar-brand img {
    width: 250px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: none !important;
}

.my_toggle_menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: #f195b2;
    margin: auto;
    margin-bottom: 5px;
    transition: all 400ms linear;
}

.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7px;
}

.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .my_toggle_menu span:last-child {
    transform: rotate(45deg);
    bottom: 9px;
    position: relative;
}

.animated-button {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.animated-button span {
    position: relative;
    overflow: hidden;
    display: block;
    text-shadow: 0 16px 0 #f195b2;
    font-family: "Open Sans", sans-serif;
}

.animated-button span em {
    min-width: 5px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    transition: transform 0.3s ease;
    transform: translateY(0);
    font-weight: 600;
    color: #454545;
}

.nav-item:hover>.nav-link:hover .animated-button em {
    transform: translateY(calc(16px * -1));
}

.animated-button span em:nth-child(1) {
    transition-delay: 0.025s;
}

.animated-button span em:nth-child(2) {
    transition-delay: 0.05s;
}

.animated-button span em:nth-child(3) {
    transition-delay: 0.075s;
}

.animated-button span em:nth-child(4) {
    transition-delay: 0.1s;
}

.animated-button span em:nth-child(5) {
    transition-delay: 0.125s;
}

.animated-button span em:nth-child(6) {
    transition-delay: 0.15s;
}

.animated-button span em:nth-child(7) {
    transition-delay: 0.175s;
}

.animated-button span em:nth-child(8) {
    transition-delay: 0.2s;
}

.animated-button span em:nth-child(9) {
    transition-delay: 0.225s;
}

.nav-item {
    margin-right: 22px;
}

@media screen and (max-width: 991px) {
    .animated-button {
        top: 0px;
    }

    .top-header-2::before {
        display: none;
    }

    .navbar-nav {
        align-items: center;
        display: block !important;
        text-align: center !important;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-nav .nav-item a {
        border-bottom: 1px solid #dcdcdc;
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand img {
        width: 200px;
        margin-right: 0;
    }

    .navbar-toggler {
        padding: 0 !important;
    }
}

.fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    transition: 0.9s;
}


/* ==================== Image Slider ====================== */

.swiper {
    width: 100%;
    height: 100vh;
    margin-top: 110px;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}

.slide-content {
    position: relative;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.8s ease-in-out;
    top: 30%;
    right: -6%;
    font-size: 65px;
    text-align: left;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: bold !important;
    line-height: 80px;
}

.slide-content-1 {
    transform: translateY(100px);
    line-height: 28px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-top: 18px;
}


.swiper-slide-active .slide-content {
    opacity: 1;
    transform: translateY(0);
}

.slide-content h2 {
    font-size: 3rem;
    margin: 0;
}

.slide-content p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ccc;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}


.swiper-pagination span {
    background-color: white;
}



.swiper-button-next:after {
    font-size: 30px !important;
    font-weight: bold;
    color: white;
}


.swiper-button-prev:after {
    font-size: 30px !important;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 900px) {
    .slide-content {
        font-size: 50px;
        line-height: 60px;
    }

    .slide-content-1 {
        line-height: 28px;
        font-size: 20px;
    }

}

@media screen and (max-width: 690px) {
    .slide-content {
        font-size: 39px;
        line-height: 42px;

    }

    .slide-content-1 {
        line-height: 23px;
        font-size: 20px;
    }

}

@media screen and (max-width: 600px) {
    .slide-content {
        right: -10%;
        font-size: 36px;
        line-height: 42px;
    }

    .slide-content-1 {
        line-height: 23px;
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .swiper {
        height: 85vh;
    }
}

@media screen and (max-width: 576px) {
    .slide-content {
        font-size: 35px;
        line-height: 42px;
        top: 36%;
    }

    .swiper {
        height: 65vh;
    }

    .slide-content-1 {
        line-height: 19px;
        font-size: 15px;
    }

    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-prev:after {
        display: none;
    }

}


@media screen and (max-width: 502px) {
    .slide-content {
        font-size: 27px;
        line-height: 35px;
        right: -3%;
        top: 40%;
        padding-right: 17px;
    }

    .slide-content-1 {
        line-height: 18px;
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 399px) {
    .slide-content {
        font-size: 27px;
        line-height: 35px;
        right: -3%;
    }

    .slide-content-1 {
        line-height: 18px;
        font-size: 12px;
    }
}

/* ==================== Welcome Section ====================== */

.Welcome-Section {
    background: url(./Images/welcome-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.Welcome-Section::before {
    content: "";
    background: url(./Images/w-left-techture.png) no-repeat scroll center center;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 685px;
    width: 237px;
    z-index: -1;
}

.Welcome-Section::after {
    content: "";
    background: url(./Images/w-right-techture.png) no-repeat scroll center center;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 701px;
    width: 250px;
    z-index: -1;
}

.welcome_bakery_inner {
    padding: 100px 0px;
}

.main_title h2 {
    color: #3e606b;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 38px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.main_title h2:before {
    content: "";
    width: 45px;
    height: 1px;
    background: #acb2b4;
    position: absolute;
    right: -60px;
    bottom: 7px;
}

.main_title p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #242424;
    margin-bottom: 0px;
}

.welcome_left_text p {
    line-height: 26px;
    color: #797979;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 35px;
}

.main_title {
    padding-bottom: 25px;
}

.inner_feature_cakes {
    padding: 80px 0px 100px 0px;
    position: relative;
}

.number {
    font-weight: 600;
    font-size: 44px;
    color: #f195b2;
    display: block;
    line-height: 1;
}

.Featured{
    margin-top: 100px !important;
}

.owl-carousel .item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

.owl-prev,
.owl-next {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #d0d0d0;
    text-align: center;
    line-height: 36px;
    transition: 0.3s;
}

.owl-prev {
    margin-right: 9px;
}

.cake_feature_slider {
    position: absolute;
    right: 0px;
    top: -68px;
}

.owl-prev:hover,
.owl-next:hover {
    background: #f195b2;
    color: #fff;
    border-color: #f195b2;
    cursor: pointer;
}

.item img {
    transition: 0.3s;

}

.item img:hover {
    transform: scale(1.05);
}

.welcome_bakery_inner {
    border-bottom: 1px solid #dbdbdb;
}


@media screen and (max-width: 576px) {
    .Welcome-Section::before {
        display: none;
    }

    .Welcome-Section::after {
        display: none;
    }

    .main_title h2:before {
        display: none;
    }

    .main_title {
        text-align: center;
    }

    .welcome_left_text {
        text-align: center;
    }

    .main_title h2 {
        font-size: 26px;
    }

    .cake_feature_slider {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

}

/* ==================== Our Cakes Section ====================== */

.section-head{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #3e606b;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.button-group{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.button-group .button{
    display: inline-block;
    margin-right: 30px;
}

.button-group .button button{
    text-align: center;
    font-size: 22px;
    color: #3e606b;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: bold;
    position: relative;
    border: none;
    background: none;
}

.button-group:nth-child(4){
    margin-right: 0;
}

.button-group .button button::before{
    content: "";
    width: 100%;
    height: 2px;
    background: #f195b2;
    position: absolute;
    left: 0px;
    bottom: -4px;
    opacity: 0;
    transform: scale(0);
    transition: all 400ms linear 0s;
}

.button-group .button.active button:before {
    transform: scale(1);
    opacity: 1;
  }

.gallery{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
.item{
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media screen and (max-width: 991px){
    .item{
        flex: 0 0 25%;
		max-width: 25%;
    }
}

@media screen and (max-width: 767px){
    .item{
		flex: 0 0 33.33%;
		max-width: 33.33%;
    }
}

@media screen and (max-width: 400px){
    .button-group .button{
        margin-right: 5px;
    }
}

@media screen and (max-width: 575px){
    .item{
		flex: 0 0 50%;
		max-width: 50%;
    }
}


/* ==================== Menu Section ====================== */


.main_title-menu{
    text-align: center;
}

.main_title-menu h2{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #3e606b;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}



.main_title-menu h2::before{
    content: "";
    width: 40px;
    height: 1px;
    background: #acb2b4;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}


.Premium-menu{
    text-align: center;
}

.Premium-menu h3{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #3e606b;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.cake_feature_item {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
    text-align: center;
    margin-bottom: 30px;
    height: 340px;
  }
  
  .cake_feature_item .cake_img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .cake_feature_item .cake_img img {
    transition: all 300ms ease;
    width: 100%;
    height: 225px;
    object-fit: cover;
  }
  
  .cake_feature_item .cake_img:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 300ms ease;
    z-index: 1;
    opacity: 0;
  }
  
  .cake_feature_item .cake_img:hover img {
    transform: scale(1.05);
  }
  
  .cake_feature_item .cake_img:hover:before {
    opacity: 1;
  }
  
  .cake_feature_item .cake_text {
    position: relative;
    padding: 20px 20px;
    text-transform: capitalize;
  }
  
  .cake_feature_item .cake_text h3 {
    font-size: 18px;
    color: #343434;
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }

  .cake_feature_item .cake_text span{
    color: #797979;
  }
  


/* ==================== Services Section ====================== */


.services-section {
    background-color: #f195b2;
    padding: 60px 20px;
    text-align: center;
}

.services-title {
    font-size: 36px;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    transition: 0.3s;
}

.services-title::before {
    content: "";
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: #fff;
    height: 1px;
}

.services-container {
    justify-content: center;
    gap: 30px;
}

.service-box {
    border: 1px dashed white;
    padding: 30px;
    width: 300px;
    color: white;
    transition: transform 0.3s ease;
    transition: 0.3s;
}

.service-box:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
    transition: 0.3s;
}

.service-box:hover {
    background-color: white;
}

.service-inner-heading {
    font-size: 22px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
}

.service-inner-text {
    transition: 0.3s;
}

.service-box:hover .service-inner-heading {
    color: black;
}

.service-box:hover .service-inner-text {
    color: black;
}

.service-box:hover .service-icon {
    color: black;
}


